.banner-support-palestine{
  background-color: #444444; 
  color: #ddd;
  width: 100%; 
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
}

.banner-support-palestine p{
  text-align: center;
  font-weight: bold;
}

.banner-support-palestine a{
  text-decoration: none;
  color: #ddd;
}