.banner-support-palestine{
  background-color: #444444; 
  color: #ddd;
  width: 100%; 
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  box-sizing: border-box;
}

.banner-support-palestine p{
  text-align: center;
  font-weight: bold;
}

.banner-support-palestine a{
  text-decoration: none;
  color: #ddd;
}

.banner-palestine{
  width: 100%; 
  margin-top: 10px;
  box-sizing: border-box;
}

.banner-palestine .banner-contain{
height: 130px;
background-color: #0f0f0f;
border-radius: 6px;
color: #ddd;
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
}